fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
bcrypt
web3
slowapi
pydantic
pydantic-settings
email-validator
python-multipart
pandas
numpy
networkx
python-louvain
scikit-learn
tqdm
torch
torch-geometric
